/*Estilos generales*/
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding:0;
    background-color: #ffffff;
    color: rgb(8, 8, 8);
    }

/*Encabezado (Header)*/
header {
    background-color: rgb(8, 8, 8);
    color: #c08937;
    padding: 3px 20px;
}
header.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.logo h1 {
    margin: 0;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold
}
nav ul {
    list-style: none;
    text-align: right;
    justify-content: right;
    margin: 0;
    padding: 5px 15px;
    display: flex;
    gap: 60px;
    background-color:rgb(255, 255, 255);
 }
 .menu {
    display: flex;
    justify-content: center;
    list-style: none;
 }
 .menu li {
    margin-left: 10px;
 }
 .menu li a{
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-size: 16px;
    transition: color 0.3s ease;
 }

.btn-reservar {
    text-decoration: none;
    color: #fff;
    background-color: #c08937;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

/*Banner*/
.banner {
    background-color:rgb(0, 0, 0);
    color: #ffffff;
    text-align: center;
    padding: 100px 50px;
}

.banner h2 {
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    background-color: #333;
    padding: 20px;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 8px 10px rgb(255, 176, 85);
    margin-bottom: 40px;
}
.banner p {
    font-size: 18px;
    margin-bottom: 40px;
}


/*Seccion de servicios*/
.servicios { 
    display: flex;
    gap: 20px;
    padding: 3rem;
    margin: 0;
}
.servicios {/*Color de fondo de la seccion de servicios*/
    background-color: #ffffff;
    border: 2px solid #ddd;
    padding: 4.0rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.servicios h2 {/*Titulo Nuestros servicios*/
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    color: #000000;
    text-align: right;
}
.contenedor {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 50px 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    justify-items: left;
}
.servicio-item {/*Edicion de letra, posicion y color de los servicios*/
    width: 300px;
    margin-bottom: 20px;
    padding: 1.5rem;
    background-color: #f5ee94;
    border: 2px solid #000000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}
.servicio-item img { /*Imagen de los servicios*/
    width: 50%;
    border-radius: 8px;
}
.servicio-item h3 {/*Color de la frase de cada servicio*/
    font-size: 1.5rem;
    color: #000000;
    margin: 1rem;
}
.servicio-item p {/*color y fuente de la explicacion de cada servicio*/
    font-size: 1rem;
    color: #131212;
}
/*Galeria*/
#galeria {
    padding: 15px 20px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
}
.galeria-imagenes {
    display: flex;
    justify-content: space-around;
}

.galeria-imagenes img {
    width: 30%;
    height: auto;
    border-radius: 10px;
    background-color: #f5ee94;
    border: 2px solid #000000;
}

/*Reservas*/
#reservas {
    padding: 50px 20px;
    background-color: #ffffff;
    text-align: center; /*Titulo Reserva tu cita*/
    font-size: 1.2rem;
}
#reservas form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#reservas label {
    margin: 0;
}
#reservas input, #reservas select {
    padding: 10px;
    margin-bottom: 15px;
    width: 30%;
}
#reservas button {
    background-color: #c08937;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

/*Seccion de contacto*/
.contacto {
    background-color: #000000;
    color: #ffffff;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    margin: 40px 0;
}

.contacto h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contacto p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.contacto form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
}

.contacto label {
    font-size: 1em;
    text-align: left;
}

.contacto input,
.contacto textarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0g, 0, 0.1);
}

.contacto textarea {
    resize: vertical;
}

.contacto button {
    padding: 12px;
    font-size: 1.2em;
    background-color: #c08937;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3 ease;

}

.contacto button:hover {
    background-color: #e65c00;
}

/*Pie de pagina*/
footer {
    background-color: #c08937;
    color: #000000;
    text-align: center;
    padding: 20px ;
}

.footer-content h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.footer-content p {
    margin-bottom: 10px;
    font-size: 1em;
}

.redes-sociales {
    list-style: none;
    padding: 0;
    margin: 5px 0;
}

.redes-sociales li {
    display: inline;
    margin: 0 10px;
    font-size: 1em;
}

.redes-sociales a {
    color: blue;
    text-decoration: none;
    transition: color 0.3s ease;
}

.redes-sociales a:hover {
    color: #e65c00;
}
